<%- include('../_layouts/adminheader') %>

<h2 class="page-title">Add a product</h2>
<a href="/admin/products" class="btn btn-primary">Back to all products</a>
<br><br>

<form method="post" action="/admin/products/add-product" enctype="multipart/form-data">
    
    <div class="form-group">
        <label for="">Title</label>
        <input type="text" class="form-control" name="title" value="<%= title %>" placeholder="Title">
    </div>
    
    <div class="form-group">
        <label for="">Description</label>
        <textarea name="desc" class="form-control" id="ta" cols="30" rows="10" placeholder="Description"><%= desc %></textarea>
    </div>
    
    <div class="form-group">
        <label for="">Category</label>
        <select name="category" class="form-control">
            <% categories.forEach(function(cat){ %>
                <option value="<%= cat.slug %>"><%= cat.title %></option>
            <% }); %>
        </select>
    </div>
    
    <div class="form-group">
        <label for="">Sub category</label>
        <input type="text" class="form-control" name="subCategory" value="<%= subCategory %>" placeholder="Sub category">
    </div>
    
    <div class="form-group">
        <label for="">Original price</label>
        <input type="text" class="form-control" name="originalPrice" value="<%= originalPrice %>" placeholder="Original price">
    </div>
    
    <div class="form-group">
        <label for="">Discounted price</label>
        <input type="text" class="form-control" name="discountedPrice" value="<%= discountedPrice %>" placeholder="Discounted price">
    </div>
    
    <div class="form-group">
        <label for="">In stock</label>
        <input type="text" class="form-control" name="inStock" value="<%= inStock %>" placeholder="In stock">
    </div>

    <div class="form-group">
        <label for="">Image</label>
        <input type="file" class="form-control" name="image" id="img">
        <img src="#" id="imgPreview" alt="">
    </div>
    
    <button class="btn btn-default">Submit</button>
</form>

<script>
    
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            
            reader.onload = function(e) {
                $("#imgPreview").attr('src', e.target.result).width(100).height(100);
            }
            
            reader.readAsDataURL(input.files[0]);
        }
    }
    
    $("#img").change(function() {
        readURL(this);
    });
    
</script>

<%- include('../_layouts/adminfooter') %>