<%- include('_layouts/header.ejs'); %>

<div class="row">
    
    <h1 class="page-header"><%= p.title %></h1>
    
    <div class="col-xs-12 col-md-5">
        <img class="spi" src="/product_images/<%= p.id %>/<%= p.image %>" alt="">
        <br>
    </div>
    <div class="col-xs-12 col-md-7">
        <p><span class="badge badge-secondary"><%= p.category.charAt(0).toUpperCase() + p.category.toLowerCase().slice(1)%></span> &nbsp <span class="badge badge-secondary"><%= p.subCategory %></span><p>
        <%- p.desc %>
        <h5 class="text-danger"> - <%= (100 * (Number(p.originalPrice) - Number(p.discountedPrice))/Number(p.originalPrice)).toFixed(0) %> % Discount</h5>
        <p>$ M.R.P.:<strike> <%= parseFloat(p.originalPrice).toFixed(2) %></strike>     <b class="text-success h4"><%= parseFloat(p.discountedPrice).toFixed(2) %></b></p>

        <% if (p.inStock>0) { %>
            <h5>Inclusive of all taxes   <span class="badge badge-success">In stock<span></h6>
        <% } else { %>
            <h5>Inclusive of all taxes   <span class="badge badge-danger">Sold Out<span></h6>
        <% } %>    
            </div>
        </div> 
        
            <% if (loggedIn) { %>
        <p><a class="bg-dark text-decoration-none text-warning p-2 rounded" href="/cart/add/<%= p.slug %>">Add to cart <i class="fa-solid fa-cart-arrow-down"></i></a></p>
        <% } else {%>
        <p>You must be logged in to purchase items.</p>
        <% } %>
    </div>
    <div class="col-xs-12">
        <ul class="gallery">
            <% galleryImages.forEach(function(image){ %>
            <% if (image != "thumbs") { %>
            <li>
                <a data-fancybox="gallery" href="/product_images/<%= p.id %>/gallery/<%= image %>">
                    <img src="/product_images/<%= p.id %>/gallery/thumbs/<%= image %>" alt="">
                </a>
            </li>
            <% } %>
            <% }); %>
        </ul>
    </div>
</div>

<%- include('_layouts/footer.ejs'); %>